<a routerLink="displayhelloworld">#1.DisplayHelloWorld</a>
<br>
<a routerLink="showhellobutton">#2.ShowHelloButton</a>
<br>
<a routerLink="displayname">#3.DisplayName</a>
<br>
<a routerLink="counter">#4.Counter</a>
<br>
<a routerLink="simpleform">#5.Simpleform</a>
<br>
<a routerLink="userage">#6.Userage</a>
<br>
<a routerLink="usergreeting">#7.Usergreeting</a>
<br>
<a routerLink="calculator">#8.Calculator</a>
<br>
<a routerLink="textlength">#9.TextLength</a>
<br>
<a routerLink="currencyconverter">#10.CurrencyConverter</a>
<br>
<a routerLink="evenoddchecker">#11.Evenoddchecker</a>
<br>
<a routerLink="wordreverser">12.Wordreverser</a>
<br>
<a routerLink="showdate">13.Showdate</a>
<br>
<a routerLink="showusername">14.Showusername</a>
<br>




<router-outlet></router-outlet>
