<a routerLink="displayhelloworld">1.DisplayHelloWorld</a>
<br>
<a routerLink="showhellobutton">2.ShowHelloButton</a>
<br>
<a routerLink="displayname">3.DisplayName</a>
<br>
<a routerLink="counter">4.Counter</a>
<br>
<a routerLink="simpleform">5.Simpleform</a>
<br>
<a routerLink="userage">6.Userage</a>
<br>
<a routerLink="usergreeting">7.Usergreeting</a>
<br>
<a routerLink="calculator">8.Calculator</a>
<br>
<a routerLink="textlength">9.TextLength</a>
<br>
<a routerLink="currencyconverter">10.CurrencyConverter</a>
<br>
<a routerLink="evenoddchecker">11.Evenoddchecker</a>
<br>
<a routerLink="wordreverser">12.Wordreverser</a>
<br>
<a routerLink="showdate">13.Showdate</a>
<br>
<a routerLink="showusername">14.Showusername</a>
<br>
<a routerLink="multiplicationtable">15.MultiplicationTable</a>
<br>
<a routerLink="simplelogin">16.SimpleLogin</a>
<br>
<a routerLink="fahrenheittocelsius">17.Fahrenheittocelsius</a>
<br>
<a routerLink="bookmarklist">18.bookmarklist</a>
<br>
<a routerLink="charactercounter">19.CharacterCounter</a>
<br>
<a routerLink="palindromechecker">20.palindromechecker</a>
<br>
<a routerLink="temperatureconverter">21.TemperatureConverter</a>
<br>
<a routerLink="shoppinglist">22.ShoppingList</a>
<br>
<a routerLink="factorialcalculator">23.FactorialCalculator</a>
<br>
<a routerLink="todomanager">24.TodoManager</a>
<br>
<a routerLink="guessnumbergame">25.GuessNumberGame</a>
<br>
<a routerLink="wordcounter">26.WordCounter</a>
<br>
<a routerLink="randomnumbergenerator">27.RandomNumberGenerator</a>
<br>
<a routerLink="multiplicationchecker">28.MultiplicationChecker</a>
<br>
<a routerLink="uppercaseconverter">29.UppercaseConverter</a>
<br>
<a routerLink="wordshuffler">30.WordShuffler</a>
<br>
<a routerLink="bmisolver">31.BmiSolver</a>
<br>
<a routerLink="usernamevalidator">32.UsernameValidator</a>
<br>
<a routerLink="interestcalculator">33.InterestCalculator</a>
<br>
<a routerLink="compoundinterestcalculator">34.CompoundInterestCalculator</a>
<br>
<a routerLink="fibonaccigenerator">35.FibonacciGenerator</a>
<br>
<a routerLink="oddsumcalculator">36.OddSumCalculator</a>
<br>
<a routerLink="currencyformatter">37.CurrencyFormatter</a>
<br>
<a routerLink="randomquotedisplay">38.RandomQuotedDisplay</a>
<br>
<a routerLink="uppercasegreeting">39.UppercaseGreeting</a>
<br>






<router-outlet></router-outlet>
